In [1]:
# Standard imports
import numpy as np
import pandas as pd

# For statistical modeling
import scipy.stats as stats
from math import sqrt 

# For data visualization
import seaborn as sns
import matplotlib.pyplot as plt

# To avoid deprecation and other warnings
import warnings
warnings.filterwarnings('ignore')

# For modeling
# to evaluated performance using rmse
from sklearn.metrics import mean_squared_error
# holt's linear trend model
from statsmodels.tsa.api import Holt
import statsmodels.api as sm

from matplotlib.ticker import StrMethodFormatter
from matplotlib.dates import DateFormatter

# working with dates
from datetime import datetime

import os

url = 'https://www.fhwa.dot.gov/ohim/tvtw/archive/arch92u.htm'
df = pd.read_csv(url)

from requests import get
from bs4 import BeautifulSoup

url = 'https://codeup.com/data-science/math-in-data-science/'
headers = {'User-Agent': 'Codeup Data Science'} # Some websites don't accept the pyhon-requests default user-agent
response = get(url, headers=headers)

soup = BeautifulSoup(response.content, 'html.parser')

s = get('https://www.fhwa.dot.gov/ohim/tvtw/archive/arch92u.htm')

soup.prettify()

response = get('https://www.fhwa.dot.gov/ohim/tvtw/archive/arch92u.htm')
soup = BeautifulSoup(response.content, 'html.parser')

soup.prettify()

soup.title.string

soup.get_text()

soup.select("footer")

In [29]:
#traffic = '/Users/everettclark/Downloads/TMS_traffic_counts/TMS_traffic_counts.csv'
#cspath = '/Users/everettclark/Downloads/archive (1)'
path2 = '/Users/everettclark/Downloads/archive (3)'

df = pd.read_csv(traffic)

df

df.isnull().sum()

df.info()

df.siteDescription.value_counts()

df.flowDirection.value_counts()

sns.scatterplot(x=df.laneNumber, y=df.trafficCount, hue=df.flowDirection)

df = pd.read_csv(f'{cspath}/esea_master_dmg_demos.part1.csv')

df

df.columns

df = pd.read_csv(f'{cspath}/map_data.csv')
df

## Age Specific Fertility Rates

In [133]:
asf = pd.read_csv(f'{path2}/age_specific_fertility_rates.csv')
print(asf.shape)
asf.drop(columns='country_code', inplace=True)
asf.head()

(15106, 13)

,country_name,year,fertility_rate_15_19,fertility_rate_20_24,fertility_rate_25_29,fertility_rate_30_34,fertility_rate_35_39,fertility_rate_40_44,fertility_rate_45_49,total_fertility_rate,gross_reproduction_rate,sex_ratio_at_birth
0,Slovenia,2036,8.5,60.2,112.0,86.3,32.0,8.8,3.7,1.5555,0.7529,1.0660
1,Slovenia,2022,7.5,56.4,106.1,75.5,26.7,6.4,2.3,1.4110,0.6829,1.0661
2,Slovenia,2023,7.6,56.5,106.6,76.2,27.2,6.6,2.4,1.4213,0.6879,1.0660
3,Slovenia,2024,7.7,56.8,107.0,77.1,27.5,6.7,2.5,1.4316,0.6929,1.0660
4,Slovenia,2025,7.7,56.9,107.4,78.0,27.7,6.9,2.6,1.4419,0.6979,1.0661

#### I have other info that I can use for birth/death

---

## Birth Death Growth Rates

In [143]:
bd = pd.read_csv(f'{path2}/birth_death_growth_rates.csv')
bd.drop(columns='country_code', inplace=True)
print(bd.shape)
bd.head()

(15109, 7)

,country_name,year,crude_birth_rate,crude_death_rate,net_migration,rate_natural_increase,growth_rate
0,Slovenia,2036,7.59,14.65,0.23,-0.706,-0.682
1,Slovenia,2022,7.52,12.28,0.32,-0.476,-0.444
2,Slovenia,2023,7.43,12.41,0.31,-0.498,-0.467
3,Slovenia,2024,7.35,12.55,0.31,-0.520,-0.489
4,Slovenia,2025,7.30,12.68,0.30,-0.538,-0.508

---

## Country Areas:

In [33]:
#Not needed
pd.read_csv(f'{path2}/country_names_area.csv').head(3)

  country_code country_name  country_area
0           AF  Afghanistan      652230.0
1           AL      Albania       27398.0
2           AG      Algeria     2381741.0

---

## Age 5 Midyear Populations:

In [142]:
mp5 = pd.read_csv(f'{path2}/midyear_population_5yr_age_sex.csv')
mp5.drop(columns='country_code', inplace=True)
print(mp5.shape)
mp5.sort_values(by='country_name').head()

(333080, 9)

,country_name,year,total_flag,starting_age,age_group_indicator,ending_age,midyear_population,midyear_population_male,midyear_population_female
279318,Afghanistan,2017,A,95,-,99,273,99,174
244100,Afghanistan,2040,A,15,-,19,5727704,2908688,2819016
193531,Afghanistan,2038,A,50,-,54,1873174,935379,937795
50334,Afghanistan,2025,A,0,-,4,6055219,3079206,2976013
127363,Afghanistan,1985,A,25,-,29,995440,510940,484500

#### Not going to use

---

## Midyear Population country code:

In [42]:
mpc = pd.read_csv(f'{path2}/midyear_population_age_country_code.csv')
mpc.sort_values(by='country_name').head(3)

,country_code,country_name,year,sex,max_age,population_age_0,population_age_1,population_age_2,population_age_3,population_age_4,...,population_age_94,population_age_95,population_age_96,population_age_97,population_age_98,population_age_99,population_age_100,age,permutation_role,population
2460213,AF,Afghanistan,2050,Male,100,699328,685484,678841,673365,668619,...,586,388,240,143,82,49,59,88,child,4827
2201225,AF,Afghanistan,2024,Male,100,653702,620418,604670,592017,579188,...,107,65,35,21,11,7,6,61,child,73743
65574,AF,Afghanistan,2014,Male,100,573665,528794,505300,487940,472797,...,70,43,24,10,6,4,3,29,child,220315

mpc.sort_values(by='country_name').head(15)

mpc.country_name.value_counts()

mpc[(mpc.country_name =='Afghanistan') & (mpc.sex == 'Male') & (mpc.year == 1979)].describe()

### Not using

---

## Midyear Population age sex:

In [146]:
mpa = pd.read_csv(f'{path2}/midyear_population_age_sex.csv')
mpa.drop(columns='country_code', inplace=True)
print(mpa.shape)
mpa.head(10)

(30280, 105)

,country_name,year,sex,max_age,population_age_0,population_age_1,population_age_2,population_age_3,population_age_4,population_age_5,...,population_age_91,population_age_92,population_age_93,population_age_94,population_age_95,population_age_96,population_age_97,population_age_98,population_age_99,population_age_100
0,Afghanistan,1979,Male,100,318425,299061,282850,268400,255599,244330,...,170,109,67,42,24,14,8,4,2,2
1,Afghanistan,1980,Female,100,303582,253596,255259,249053,239924,232073,...,71,45,27,16,9,6,3,1,1,1
2,Afghanistan,1981,Male,100,278483,253006,228441,233548,226679,220238,...,169,108,67,41,24,14,8,4,2,2
3,Afghanistan,1982,Male,100,260493,226577,217475,198617,205456,200768,...,168,108,67,41,24,14,7,5,2,2
4,Afghanistan,1986,Male,100,288288,244977,225403,207463,204496,195268,...,159,108,67,40,25,13,8,4,2,2
5,Afghanistan,1988,Male,100,305181,262454,238563,218362,205439,190337,...,77,82,64,42,23,14,9,3,3,1
6,Afghanistan,1990,Male,100,324569,283502,259125,240125,223228,206840,...,92,52,31,32,24,14,7,5,3,1
7,Afghanistan,1992,Female,100,354761,310868,285194,268144,251210,232928,...,96,64,35,18,12,7,6,3,1,2
8,Afghanistan,1995,Female,100,447128,395670,363178,348926,332989,316915,...,101,59,36,26,17,8,4,3,0,3
9,Afghanistan,1996,Female,100,463943,411579,381929,356762,344747,330183,...,118,69,38,23,16,10,5,2,2,2

In [170]:
mpa[mpa.country_name == 'Afghanistan'].year.value_counts()

1979    2
1980    2
2012    2
2009    2
2005    2
       ..
2021    2
2019    2
2017    2
2016    2
2043    2
Name: year, Length: 72, dtype: int64

In [173]:
mpa[mpa.country_name == 'Afghanistan'].sort_values(by='year')

,country_name,year,sex,max_age,population_age_0,population_age_1,population_age_2,population_age_3,population_age_4,population_age_5,...,population_age_91,population_age_92,population_age_93,population_age_94,population_age_95,population_age_96,population_age_97,population_age_98,population_age_99,population_age_100
0,Afghanistan,1979,Male,100,318425,299061,282850,268400,255599,244330,...,170,109,67,42,24,14,8,4,2,2
20162,Afghanistan,1979,Female,100,299276,284224,270908,258667,247496,237362,...,69,43,26,15,9,5,3,2,0,1
1,Afghanistan,1980,Female,100,303582,253596,255259,249053,239924,232073,...,71,45,27,16,9,6,3,1,1,1
20163,Afghanistan,1980,Male,100,313513,270554,270040,260662,249193,239909,...,169,108,68,41,24,14,8,4,2,2
10055,Afghanistan,1981,Female,100,269398,245322,212463,219832,216190,211718,...,74,46,29,17,9,5,4,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20203,Afghanistan,2048,Male,100,697565,680954,673225,667942,662679,656964,...,1621,1149,797,515,322,196,123,74,42,48
10106,Afghanistan,2049,Female,100,670697,657731,650804,645829,641695,637315,...,3636,2599,1906,1368,921,599,382,247,156,199
10105,Afghanistan,2049,Male,100,698911,683655,675968,670535,665963,661149,...,1764,1195,828,562,355,217,128,79,47,52
10107,Afghanistan,2050,Male,100,699328,685484,678841,673365,668619,664476,...,1918,1303,864,586,388,240,143,82,49,59
48,Afghanistan,2050,Female,100,671003,659370,653446,648441,644139,640421,...,3977,2841,1994,1434,1008,665,423,264,167,224

In [147]:
mpa.columns

Index(['country_name', 'year', 'sex', 'max_age', 'population_age_0',
       'population_age_1', 'population_age_2', 'population_age_3',
       'population_age_4', 'population_age_5',
       ...
       'population_age_91', 'population_age_92', 'population_age_93',
       'population_age_94', 'population_age_95', 'population_age_96',
       'population_age_97', 'population_age_98', 'population_age_99',
       'population_age_100'],
      dtype='object', length=105)

In [139]:
mpa.max_age.min()

80

In [82]:
mpa.iloc[:1]

,country_code,country_name,year,sex,max_age,population_age_0,population_age_1,population_age_2,population_age_3,population_age_4,...,population_age_91,population_age_92,population_age_93,population_age_94,population_age_95,population_age_96,population_age_97,population_age_98,population_age_99,population_age_100
0,AF,Afghanistan,1979,Male,100,318425,299061,282850,268400,255599,...,170,109,67,42,24,14,8,4,2,2

mpa.iloc[:1].columns[5:]

---

## Midyear Population:

In [144]:
mp1 = pd.read_csv(f'{path2}/midyear_population.csv')
mp1.drop(columns='country_code', inplace=True)
print(mp1.shape)
mp1.head(10)

(23028, 3)

  country_name  year  midyear_population
0     Slovenia  2013             1992690
1     Slovenia  2025             1907560
2     Slovenia  2024             1917093
3     Slovenia  2023             1926279
4     Slovenia  2022             1935080
5     Slovenia  2021             1943453
6     Slovenia  2020             1951358
7     Slovenia  2019             1958778
8     Slovenia  2018             1965706
9     Slovenia  2017             1972126

mp1[(mp1.country_name == 'Norway') &(mp1.year == 2036)]

---

## Mortality Life Expentancy

In [155]:
mo = pd.read_csv(f'{path2}/mortality_life_expectancy.csv')
# I don't need all these columns, I'll take the average of each
mo.drop(columns={'country_code','infant_mortality_male','infant_mortality_female','life_expectancy_male',
                'life_expectancy_female','mortality_rate_under5_male','mortality_rate_under5_female',
                 'mortality_rate_1to4_male','mortality_rate_1to4_female'}, inplace=True)
print(mo.shape)
mo.head(10)

(15106, 6)

,country_name,year,infant_mortality,life_expectancy,mortality_rate_under5,mortality_rate_1to4
0,Slovenia,2036,3.39,80.90,3.93,0.54
1,Slovenia,2022,3.76,79.11,4.43,0.68
2,Slovenia,2023,3.73,79.26,4.39,0.67
3,Slovenia,2024,3.70,79.40,4.35,0.65
4,Slovenia,2025,3.67,79.55,4.31,0.64
5,Slovenia,2026,3.64,79.68,4.26,0.63
6,Slovenia,2027,3.61,79.81,4.23,0.63
7,Slovenia,2028,3.58,79.94,4.19,0.61
8,Slovenia,2029,3.56,80.08,4.15,0.60
9,Slovenia,2030,3.53,80.21,4.12,0.60

In [156]:
mo.country_name.value_counts()

Bhutan                 101
Djibouti               101
Nigeria                 98
Guinea                  96
Cambodia                89
                      ...
Virgin Islands U.S.     51
South Sudan             43
Sudan                   43
Puerto Rico             41
United States           37
Name: country_name, Length: 228, dtype: int64

In [157]:
mo[mo.country_name == 'Bhutan']
print(mo[mo.country_name == 'Bhutan'].year.min())
print(mo[mo.country_name == 'Bhutan'].year.max())

1950
2050

In [158]:
mo[mo.country_name == 'United States']
print(mo[mo.country_name == 'United States'].year.min())
print(mo[mo.country_name == 'United States'].year.max())

2014
2050

In [161]:
len(mo[mo.year ==2014])

228

In [162]:
len(mo[mo.year == 2050])

228

In [159]:
mo[mo.year == 2014]

,country_name,year,infant_mortality,life_expectancy,mortality_rate_under5,mortality_rate_1to4
53,Slovenia,2014,4.04,77.83,4.83,0.80
116,Latvia,2014,5.44,74.01,6.81,1.37
178,Mongolia,2014,23.15,68.98,27.78,4.73
241,Mauritania,2014,56.06,62.28,84.47,30.10
276,Liberia,2014,69.19,58.21,102.53,35.82
...,...,...,...,...,...,...
14818,Azerbaijan,2014,26.67,71.91,29.59,3.00
14878,Saint Pierre and Miquelon,2014,6.95,80.26,7.94,0.99
14933,Northern Mariana Islands,2014,5.50,77.64,6.81,1.32
14959,Chad,2014,90.30,49.44,151.71,67.50
15049,Solomon Islands,2014,16.17,74.89,19.71,3.60

In [152]:
(mo.year.value_counts() == 228).sum()

37

In [174]:
mo.drop()

,country_name,year,infant_mortality,life_expectancy,mortality_rate_under5,mortality_rate_1to4
0,Slovenia,2036,3.39,80.90,3.93,0.54
1,Slovenia,2022,3.76,79.11,4.43,0.68
2,Slovenia,2023,3.73,79.26,4.39,0.67
3,Slovenia,2024,3.70,79.40,4.35,0.65
4,Slovenia,2025,3.67,79.55,4.31,0.64
...,...,...,...,...,...,...
15101,Solomon Islands,2000,25.68,71.28,32.31,6.81
15102,Solomon Islands,1999,26.55,70.99,33.49,7.13
15103,Solomon Islands,1998,27.45,70.70,34.71,7.46
15104,Solomon Islands,1997,28.38,70.40,35.97,7.81
15105,Solomon Islands,1995,30.33,69.80,38.64,8.57

---

In [164]:
world = pd.read_csv('/Users/everettclark/Downloads/World Population Live Dataset.csv')
world.drop(columns='CCA3', inplace=True)
print(world.shape)
world.sort_values(by='Name').head()

(234, 14)

,Name,2022,2020,2015,2010,2000,1990,1980,1970,Area (km²),Density (per km²),GrowthRate,World Population Percentage,Rank
35,Afghanistan,41129,38972,33753,28190,19543,10695,12487,10753,652230,63.0587,1.03,0.52%,36
137,Albania,2842,2867,2882,2913,3182,3295,2942,2325,28748,98.8702,1.00,0.04%,138
33,Algeria,44903,43452,39543,35856,30775,25518,18739,13796,2381741,18.8531,1.02,0.56%,34
212,American Samoa,44,46,51,55,58,48,33,27,199,222.4774,0.98,0.00%,213
202,Andorra,80,78,72,72,66,54,36,20,468,170.5641,1.01,0.00%,203

### Rank is by World Population Percentage

---
---

## Predict the top and bottom 5 populated countries?

### .csv list:

#### Not needed:
- country_names_area.csv
- midyear_population_5yr_age_sex.csv
- midyear_population_age_country_code.csv

#### Data Dictionary:

- Data dictionary.txt 

#### Using:
midyear_population_age_sex.csv


midyear_population.csv

##### mortality_life_expectancy.csv
Shape(15106, 15)

##### age_specific_fertility_rates.csv
Shape(15106, 13)

birth_death_growth_rates.csv